.Notifications {
  border: 1px solid #e1e1e1;
  padding: 15px;
  text-align: left;
}

.Notifications li[data-priority="default"] {
  color: blue;
}

.Notifications li[data-priority="urgent"] {
  color: red;
}
